@charset "UTF-8";
body {

    background-color: cornflowerblue;
	text-align: center;
	padding: 0;
    height: 100%;
	
}



#top {
    width:100%;
	height:10%;
	padding-top: 40;
    text-align:center;
	position: relative;
	display: inline-block;
}


#bottom {
    width:100%;
	height:10%;
	padding-bottom: 20;
    text-align:top;
	position: relative;
	display: inline-block;
}

#left {
   float:left;
	color: white;
    text-align: left;
	position: relative;
    bottom: 0;
	padding-top: 10;
    width:90%;
	margin-left: 8%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 110%;
	font-variant: small-caps;
text-transform:uppercase;
  	

}

#leftmiddle {
   float:left;
	color: white;
   text-align: left;
	position: relative;
  
    width:70%;
	margin-left: 8%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 110%;
	font-variant: small-caps;
text-transform:uppercase;
  	

}



#right {
 color: white;
   text-align: right;
	position: absolute;
    bottom: 0;
    width:85%;
	margin-left: 8%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 80%;
	font-variant: small-caps;
text-transform:uppercase;
  
}


#connection {
 color: white;
   text-align: right;
	position: absolute;
	padding-top: 40;
    width:85%;
	margin-left: 10%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 80%;
	font-variant: small-caps;
text-transform:uppercase;
  
}

#center {
    display: inline-block;
    margin:0 auto;
    width:10%;
   
}


a {
	color: white;
	text-decoration: none;
	font-weight: normal;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline overline;
	color: white;
}
a:active {
	text-decoration: none;
}

.credits {
	font-size: 40%;
	text-align: right;
	color: white;
	padding: .5em;
	letter-spacing: .1em;
	font-variant: small-caps;
	font-family: Verdana, Helvetica, sans-serif;
}

li {
	padding-bottom: 0.5em;
}






.dataTitle {
	font-family: Verdana, Helvetica, sans-serif;
	font-variant: small-caps;
	
}

.title {
	font-family: Verdana, Helvetica, sans-serif;
	
		
	font-variant: small-caps;
	text-transform:lowercase;
	color: white;
	
}


.data {
	position: relative;
	display: inline-block;
	width: 16%;
	height: 10%;
	margin: 0;

}

.graph {
	background:white;
	position: relative;
	display: inline-block;
	width: 15%;
	height: 10%;
	margin: 0;

}





.dataValue {
	
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-top: 15%;
	font-size: 120%;
	font-variant: small-caps;
	color: white;

}

.dataText {
	color: white;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin-top: 15%;
	font-size: 100%;
	font-variant: small-caps;
text-transform:uppercase;

}

.dataIcon {
	color: white;
	font-size: 80px;
	

}

.hr
{
   
    border: 1px 0 0 0;
	color:white;
}
	 

 #dashboard {
    height: 100%;
    display: inline-block;
    position: relative;
    width: 100%;
    min-height: 100%;
}
